@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    label {
        font-family: "Lato", sans-serif;
    }

    .input {
        corner-shape: squircle;
        @apply border border-gray-300 rounded-lg focus:border-[--color-primary] focus:ring-[--color-primary];
    }

    input[type="checkbox"].input {
        @apply p-3;
    }
}

@layer utilities {
    .clip-slanted-right {
        clip-path: polygon(
            0 0,
            100% 0,
            calc(100% - 20px) 100%,
            0 100%
        );
    }

    .clip-slanted-full {
        clip-path: polygon(
            20px 0,
            100% 0,
            calc(100% - 20px) 100%,
            0 100%
        );
    }

    .clip-slanted-full-reduced {
        clip-path: polygon(
            10px 0,
            100% 0,
            calc(100% - 10px) 100%,
            0 100%
        );
    }

    .clip-border {
        background: var(--text-color);
        padding: 2px;
        clip-path: polygon(
            20px 0,
            100% 0,
            calc(100% - 20px) 100%,
            0 100%
        );
    }
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--color-primary) var(--body-background-color);
    scrollbar-width: thin;
}

:root {
    --color-base-100: #0F172A;
    --color-base-200: #0C1425;
    --color-base-content: #C9CBD0;

    --color-primary: #00AAAA;
    --color-primary-content: #010D15;
}

html {
    scroll-behavior: smooth;

    --body-background-color: var(--color-base-200);
    --body-background-layered-color: var(--color-base-100);

    --button-primary-bg-color: var(--color-primary);
    --button-primary-hoverbg-color: hsl(from var(--color-primary) h s calc(l + 10));
    --button-primary-text-color: var(--color-primary-content);

    --text-color: var(--color-base-content);
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Poppins", sans-serif;
    color: var(--text-color);

    background-color: var(--body-background-color);

    min-height: 100vh;
    margin: 0;
}

body.scroll-lock {
    overflow: hidden;
}

body.scroll-lock::after {
    content: '';
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    line-height: 1.2;
    font-weight: bold;

    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

header {
    padding: 0 12px;
}

main {
    flex-grow: 1;

    min-width: min(1200px, 100%);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.grid:not(.grid-cols-1) > a:only-child, .grid:not(.grid-cols-1) > img:only-child {
    @media (width > 640px) {
        grid-column: 2;
    }
}

#mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;

    transition: opacity 0.25s;
    opacity: 0;

    width: 100%;
    max-height: calc(100dvh - 100%);
    overflow-y: auto;
    z-index: -1;
}

nav #mobile-menu.active {
    opacity: 1;
    z-index: 999;
}

nav #mobile-menu .mobile-nav-container {
    display: none;
}

nav #mobile-menu .mobile-nav-container.active {
    display: flex;
}

.alert {
    position: fixed;
    background-color: #00AA00;

    color: #FFFFFF;
    text-align: center;

    bottom: 0;
    left: 0;
    right: 0;

    animation: fadeOut 3.5s forwards;

    z-index: 999;
    padding: 20px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
